<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
    <appSettings>
		<add key="Server1" value="Kacper-PC\SQLEXPRESS"/>
		<add key="Database1" value="students_db"/>
		<add key="Server2" value="LENOVOTHINKPAD-\SQLEXPRESS"/>
		<add key="Database2" value="students_db"/>
    </appSettings>
</configuration>